@mixin button_bg($bg){
    background: $bg;
    color: white;
    &:hover {
        background: darken($bg, 8%);
        transition: all 0.3s ease;
    }
    &:active {
        background: darken($bg, 25%);
    }
}

@mixin backgroundColor($color){
    padding: 10px;
    background-color: $color;
}